<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.crm.dao.RoleDao">


    <select id="selectList" parameterType="RoleVo" resultType="Role">
        select t.*
        from t_role t
    </select>


</mapper>